body {
    margin: 0;
    background-color: #B8E986;
}
header {
    background: #B8E986;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
    margin-bottom: 5px;
}
footer {
    height: 400px;
    background-color: #000000;
}
*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: none;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1.black{
    font: 20px Ubuntu;
    font-size: 48px;
    font-weight: bold;
    color: black;
}
h1.white {
    font: 20px Ubuntu;
    font-size: 48px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 0%;
}
h1.green {
    font: 20px Ubuntu;
    font-size: 48px;
    font-weight: bold;
    color: rgba(184, 233, 134, 1);
    margin: 0%;
}
h1.small-green {
    font: 20px Ubuntu;
    font-size: 24px;
    font-weight: bold;
    color: rgba(184, 233, 134, 1);
}

p.black{
    font: 20px Ubuntu;
    font-weight: lighter;
    color: black;
}
p.white{
    font: 20px Ubuntu;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}
.logo {
    height: 60px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.menu-left {
    display: flex;
    align-items: center;
}
.menu-item {
    margin-left: 60px;
}
.menu-right {
    display: flex;
    align-items: center;
    margin-left: 260px;
}
.menu-link {
    font: 16px Ubuntu;
    font-weight: normal;
    color: black;
    text-decoration: none;
    padding-right: 30px;
}
.menu-link-download {
    font: 16px Ubuntu;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    padding-right: 30px;
}
.link-btn-black {
    font: 18px Ubuntu;
    font-weight: normal;
    color: white;
    text-decoration: none;
}
nav .btn-black {
    background-color: black;
    border-radius: 20px;
    margin-left: 30px;
    width: 196px;
    height: 39px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.btn-black {
    background-color: black;
    border-radius: 20px;
    width: 196px;
    height: 39px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 271px;
    height: 41px;
}
.link-btn-white {
    font: 18px Ubuntu;
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.btn-white {
    background-color: rgb(255, 255, 255);
    border-color: white;
    border-radius: 20px;
    width: 196px;
    height: 39px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 271px;
    height: 41px;
    margin-right: 50px;
}

.main-description {
    height: 700px;
    background-color: #B8E986;
}
.desc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.desc-info {
    max-width: 654px;
}

.img-desc {
    max-width: 40%;
    max-height: 40%;
    object-fit: cover;
}

.main-product {
    display: flex;
    height: 1100px;
    background-color: #000000;
}

.main-about {
    height: 1100px;
    background-color: #ffffff;
}

.main-reviews {
    height: 1100px;
    background-color: rgba(248, 255, 241, 1);
}

.product-desc-info {
    display: flex;
    max-width: 435px;
    flex-direction: column;
    align-items: flex-start;
}
.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.product-option {
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    width: 398px;
    text-align: center;
    margin-left: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}


.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 93px;
    text-align: center;
}


.gallery {
    width: 840px;
    height: 480px;
    overflow: hidden;
}

.images {
    width:100%;
    height:100%; /* CHANGE */
  
    overflow-y:scroll;
    white-space: nowrap;
    line-height: 0;
    font-size: 0;
}
.image{
    display:inline;
    height:100%;
}
.image img {
    max-height:100%;
    height:100%; /* CHANGE */
    width:auto !important; /* CHANGE */ 
}

.reviews-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}
.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 325px;
    margin: 0 95px;
    text-align: left;
}
.review-text {
    background: linear-gradient(0deg, #F8FFF1, #F8FFF1), #F8FFF1;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    text-align: left;
    padding: 15px;
    padding-left: 30px;
}

.avatar {
    max-width: 140px;
    max-height: 140px;
    border-radius: 70px;
    object-fit: cover;
}
  
.container-footer {
    padding-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.btn-footer {
    background-color: rgba(184, 233, 134, 1);
    border-radius: 20px;
    width: 196px;
    height: 39px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 51px;
}
.split {
    height: 0px;
    border: 0.1px solid #FFFFFF;
}
.container-footer-menu {
    display: flex;
}
.footer-menu-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-menu-right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer-item {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 300px;
}
.footer-link {
    font: 16px Ubuntu;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.footer-link-download {
    font: 16px Ubuntu;
    font-weight: normal;
    color:rgba(184, 233, 134, 1);
    text-decoration: none;
    
}
