.main {
    position: relative;
}
.login-page {
    position: absolute;
    width: 360px;
    display: none;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.9);
    z-index: 100;
    margin: 10% 40% 0 40%;
}
.form {
    position: absolute;
    justify-content:center;
    z-index: 100;
    background: #FFFFFF;
    max-width: 360px;

    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
}
.form input {
    font: 14px Ubuntu;
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
}
.form button {
    font: 14px Ubuntu;
    text-transform: uppercase;
    outline: 0;
    background: #000000;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 20px;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    font: 14px Ubuntu;
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #B8E986;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

body {
    margin: 0;
    background-color: #B8E986;
}
header {
    background: #B8E986;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
    margin-bottom: 5px;
    
}
footer {
    height: 400px;
    background-color: #000000;
}
*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: none;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1.black{
    font: 20px Ubuntu;
    font-size: 48px;
    font-weight: bold;
    color: black;
}
h1.white {
    font: 20px Ubuntu;
    font-size: 48px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 0%;
}
h1.green {
    font: 20px Ubuntu;
    font-size: 48px;
    font-weight: bold;
    color: rgba(184, 233, 134, 1);
    margin: 0%;
}
h1.small-green {
    font: 20px Ubuntu;
    font-size: 24px;
    font-weight: bold;
    color: rgba(184, 233, 134, 1);
}

p.black{
    font: 20px Ubuntu;
    font-weight: lighter;
    color: black;
}
p.white{
    font: 20px Ubuntu;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}
.logo {
    height: 60px;
    margin-right: 100px;
}
.header-menu {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu-left a{
    font: 16px Ubuntu;
    font-weight: normal;
    color: black;
    text-decoration: none;
    padding-right: 30px;
}
.btn-black {
    font: 16px Ubuntu;
    font-weight: normal;
    background-color: black;
    color: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 271px;
    height: 41px;
}
.menu-item {
    margin-right: 100px;
}
.desc-container .btn-black a {
    font: 16px Ubuntu;
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-decoration: none;
}
.desc-container .btn-white a {
    font: 16px Ubuntu;
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-decoration: none;
}
.btn-white {
    font: 16px Ubuntu;
    font-weight: normal;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 271px;
    height: 41px;
    margin-right: 50px;
}
.desc-back {
    background-color: #B8E986;
}

.main-description {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 150px;
}
.desc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc-info {
    max-width: 654px;
}

.img-desc {
    max-width: 40%;
    max-height: 40%;
    object-fit: cover;
}

.product-back {
    background-color: #000000;
}
.main-product {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 80px;
    padding-bottom: 150px;
}

.about-back {
    background-color: #ffffff;
}
.main-about {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 80px;
    padding-bottom: 150px;
}

.reviews-back {
    background-color: rgba(248, 255, 241, 1);
}
.main-reviews {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.product-desc-info {
    display: flex;
    max-width: 435px;
    flex-direction: column;
    align-items: flex-start;
}
.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 300px;
}
.product-option {
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    width: 398px;
    text-align: center;
    margin-left: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}


.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.gallery {
    width: 100%;
    height: 480px;
    overflow: hidden;
}

.images {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    line-height: 0;
    font-size: 500px;
}
.image{
    display:inline;
    height:100%;
}
.image img {
    max-height:100%;
    height:100%; /* CHANGE */
    width:auto !important; /* CHANGE */ 
}

.reviews-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}
.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 325px;
    margin: 0 95px;
    text-align: left;
}
.review-text {
    background: linear-gradient(0deg, #F8FFF1, #F8FFF1), #F8FFF1;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    text-align: left;
    padding: 15px;
    padding-left: 30px;
}

.avatar {
    max-width: 140px;
    max-height: 140px;
    border-radius: 70px;
    object-fit: cover;
}
  
.container-footer {
    padding-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.btn-footer {
    background-color: rgba(184, 233, 134, 1);
    border-radius: 20px;
    width: 196px;
    height: 39px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 51px;
}
.split {
    height: 0px;
    border: 0.1px solid #FFFFFF;
}
.container-footer-menu {
    display: flex;
}
.footer-menu-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-menu-right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer-item {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 300px;
}
.footer-link {
    font: 16px Ubuntu;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.footer-link-download {
    font: 16px Ubuntu;
    font-weight: normal;
    color:rgba(184, 233, 134, 1);
    text-decoration: none;
    
}
